lenguage: node_js
node_js: 
    - 12.17.0
cache: yarn

script: 
    - yarn build

deploy:
    provider: pages
    skpip_cleanup: true
    github_token: $GITHUB_TOKEN
    local_dir: build
    on:
        branch: master 
